body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman';
}
.header_background {
  width: 100%;
  height: 500px;
  background-image: url('pic/header_back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  padding-top: 50px;
  width: 100%;
  z-index: 1000;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0 8px;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
}
.menu li {
  padding: 0 8px;
  white-space: nowrap;
  position: relative;
}
.menu a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
.menu a.selected:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid #000;
}
.logo img {
  display: block;
}
.about_us {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}
@media only screen and (max-width: 1200px) {
  .about_us {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
.about_us .pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('pic/about_us_pic.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}
.about_us .pic .about_us_border {
  padding: 16px 40px;
  width: max-content;
  border: 8px solid #000;
}
.about_us .pic p {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.about_us .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  font-size: 16px;
}
.about_us .info img {
  width: 84px;
  height: 68px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media only screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(6, minmax(200px, 1fr));
  }
}
.gallery img {
  width: 100%;
}
.glussback {
  width: 100%;
  height: 330px;
  background-image: url('pic/glussback-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glussback p {
  font-size: 22px;
  text-align: center;
  max-width: 600px;
  color: #fff;
}
.contact_us {
  padding: 80px 8px;
  background-color: #e7e5d0;
  display: grid;
  grid-template-columns: repeat(2, minmax(360px, 1fr));
  gap: 48px;
}
@media only screen and (max-width: 1200px) {
  .contact_us {
    grid-template-columns: repeat(1, minmax(360px, 1fr));
  }
}
.contact_us .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.contact_us .info .border {
  font-weight: 800;
  text-transform: uppercase;
  padding: 0 40px;
  width: max-content;
  border: 8px solid #000;
}
.contact_us .info .text {
  text-align: center;
  max-width: 450px;
}
.contact_us .info .additional_info {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.contact_us .form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
  width: 100%;
  max-width: 450px;
}
.contact_us .form .inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}
.contact_us .form button {
  background-color: #000;
  color: #fff;
  height: 40px;
  width: 100%;
}
input {
  height: 40px;
  background-color: #e7e5d0;
  border: 2px solid #000;
  outline: none;
  padding: 0 8px;
}
textarea {
  height: 120px;
  background-color: #e7e5d0;
  border: 2px solid #000;
  outline: none;
  padding: 4px 8px;
}
.map img {
  display: block;
}
footer {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aeaeae;
}
